<div id="sidebar" class="my-5">
   <ul class="list-group">
      <li class="list-group-item">
         <a href="/dashboard">Dashboard</a>
      </li>
      <li class="list-group-item">
         <a href="/posts/create">Create Post</a>
      </li>
      <li class="list-group-item">
         <a href="/posts">My Posts</a>
      </li>
      <li class="list-group-item">
         <a href="/dashboard/edit-profile">Edit Profile</a>
      </li>
      <li class="list-group-item">
         <a href="/dashboard/bookmark">Bookmark</a>
      </li>
      <li class="list-group-item">
         <a href="/dashboard/comments">Comments</a>
      </li>
      <li class="list-group-item">
         <a href="/auth/change-password">Change-Password</a>
      </li>
      <li class="list-group-item">
         <a href="/auth/logout">Log Out</a>
      </li>
   </ul>
</div>